#site-header {
	position: relative;
	z-index: 99;
	padding: 0.5em 0 0;

	@media only screen and (max-width: 767px) {
		padding-top: 0;
	}
}

.app-bar {
	background-color: #fff;

	.btn {
		position: absolute;
		top: -5px;
		z-index: 4;
		padding: 8px 10px;
	}

	@media only screen and (max-width: 767px) {
		z-index: 3;
		border-bottom: 1px solid $panel-border-color;
		padding: .5em 0;
	}
}

#branding {
	float: left;
	margin: 0 1em 1em 0;

	@media only screen and (max-width: 767px) {
		margin-left: 2.5em;
		max-width: 20%;
	}

	@media only screen and (max-width: 400px) {
		display: none;
	}
}

#site-title {
	position: relative;
	z-index: 3;
	float: left;
	margin: 1em 0 0 0;
	font-size: 180%;
	color: #555;
	span {
		display: block;
		font-size: 70%;
	}

	@media only screen and (max-width: 600px) {
		margin: 1.5em 0 0 0;
		font-size: 150%;
	}

	@media only screen and (max-width: 530px) {
		font-size: 140%;
	}

	@media only screen and (max-width: 500px) {
		font-size: 130%;
	}

	@media only screen and (max-width: 455px) {
		font-size: 105%;
	}

	@media only screen and (max-width: 400px) {
		margin: .25em 0 0 3em;
	}
}

#nav-toggle {
	left: 0;
	padding: 10px 11px 6px;
}

#search-toggle { right: 0; }

.nav {
	background: #9e958b; /* Old browsers */
	background: -moz-linear-gradient(top,  #9e958b 0%, #d6cac0 46%, #d6cac0 54%, #9e958b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9e958b), color-stop(46%,#d6cac0), color-stop(54%,#d6cac0), color-stop(100%,#9e958b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #9e958b 0%,#d6cac0 46%,#d6cac0 54%,#9e958b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #9e958b 0%,#d6cac0 46%,#d6cac0 54%,#9e958b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #9e958b 0%,#d6cac0 46%,#d6cac0 54%,#9e958b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #9e958b 0%,#d6cac0 46%,#d6cac0 54%,#9e958b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e958b', endColorstr='#9e958b',GradientType=0 ); /* IE6-9 */

	li {
		position: relative;
		margin: 0;
	}

	a {
		display: block;
		border-right: solid 1px #9E958B;
		text-decoration: none;
		text-transform: uppercase;
		padding: 10px;
	}

	.nav-item > a {
		color: #FFF;

		.icon-arrow-down { border-top-color: #ccc; }

		&:hover {
			background-color: #D6CAC0;
			color: #fff;
		}
	}

	.nav-item.active .dropdown-menu {
		left: 0;
		display: block !important;
	}

	.nav-item.active > a {
		background-color: #D6CAC0;
		color: #fff;
	}
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99;
	background-color: #fff;
	min-width: 200px;
	border: 1px solid #ccc;
	border-top-width: 0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	overflow: hidden;

	a {
		display: block;
		color: inherit;
		text-align: left;

		&:hover { background-color: $panel-bg; }
	}

	li + li a { border-top: 1px solid $panel-border-color; }

	@media only screen and (max-width: 767px) {
		position: relative;
		display: none;
		top: 0;
		z-index: 1;
		box-shadow: none;
		border: none;
		background-color: #000;

		li + li a { border-top: none; }

		a {
			padding-left: 25px;
			color: #ccc;
			border-top: none;

			&:hover {
				background-color: transparent;
				color: #fff;
			}
		}
	}

}

#site-nav {
	background: #9e958b; /* Old browsers */
	background: -moz-linear-gradient(top,  #9e958b 0%, #d6cac0 46%, #d6cac0 54%, #9e958b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9e958b), color-stop(46%,#d6cac0), color-stop(54%,#d6cac0), color-stop(100%,#9e958b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #9e958b 0%,#d6cac0 46%,#d6cac0 54%,#9e958b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #9e958b 0%,#d6cac0 46%,#d6cac0 54%,#9e958b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #9e958b 0%,#d6cac0 46%,#d6cac0 54%,#9e958b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #9e958b 0%,#d6cac0 46%,#d6cac0 54%,#9e958b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e958b', endColorstr='#9e958b',GradientType=0 ); /* IE6-9 */

	.nav-item {
		float: left;

		& > a { text-align: center; }
	}

	@media only screen and (min-width: 768px) {
		display: block !important;
	}

	@media only screen and (max-width: 767px) {

		&.collapsed { display: none; }

		.nav-item {
			float: none;

			& > a { text-align: left; }
		}
	}
}

#mobile-nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 260px;
}

.mobile-nav-visible #mobile-nav-close {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	width: 100%;
	height: 100%;
}

.utility-bar {
	position: absolute;
	top: 2.2em;
	left: 0;
	z-index: 3;
	width: 100%;
	padding: 0;
	text-align: right;
}

.search-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	form {
		position: relative;
		margin-top: 3.5em;
		text-align: right;
	}

	label { margin-right: .25em; }

	input {
		width: 240px;
		padding-right: 60px;
	}

	.btn {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
	}

	@media only screen and (min-width: 768px) {
		display: block !important;
	}

	@media only screen and (max-width: 767px) {
		top: 0;
		background-color: $panel-bg;
		border-bottom: 1px solid $panel-border-color;
		-webkit-transition: top .15s;
		transition: top .15s;

		&.active { top: 100%; }

		form {
			margin: .5em 0;
			text-align: left;
		}

		label { display: none; }

		input { width: 100%; }

		.btn .fa-search { display: none; }

		.btn .assistive-text {
			position: relative;
			clip: auto;
		}
		
	}
}