.panel-group { margin-bottom: -20px; }

.panel {
	padding: 15px;
	margin-bottom: 20px;
	color: $panel-color;
	background-color: $panel-bg;
	border: 1px solid $panel-border-color;
	@if $panel-border-radius != 0 {
		border-radius: $panel-border-radius;
	}
	overflow: hidden;
	font-size: 90%;

	h3 {
		font-size: 170%;
	}

	h4, h5 {
		margin: 0 0 0em 0;
		font-weight: bold;
		font-family: $font-family-sans-serif;
	}
}

.panel-header {
	margin: -5px -15px 0;
	padding: 0 15px 10px;
	border-bottom: 1px solid $panel-border-color;

	.panel-title { margin-bottom: 0; }
}

.panel-content {
	margin: 0 -15px -15px;
	padding: 15px;
	background-color: #FFF;
}

.panel-primary {
	color: $panel-primary-color;
	background-color: $panel-primary-bg;
	border-color: $panel-primary-border-color;

	.panel-content { color: $panel-color; }
}